Flask==3.1.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.10
Flask-Mail==0.10.0
Flask-Login==0.6.3
Flask-WTF==1.0.0
Werkzeug==3.1.3
pandas
XlsxWriter
xhtml2pdf
bcrypt==4.3.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
fonttools==4.53.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.2
numpy==2.1.1
packaging==24.1
pillow==10.4.0
pyparsing

# --- Framework principal y extensiones ---
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Authlib

# --- Base de Datos ---
# Conector para la base de datos PostgreSQL
psycopg2-binary

# --- Utilidades y APIs ---
# Para generar PDFs desde HTML (facturas)
xhtml2pdf

# Para manejar datos y exportar a Excel (.xlsx)
pandas
openpyxl

# SDK para la integración con Mercado Pago
mercadopago

# --- Multimedia ---
# Para convertir texto a voz (Google Text-to-Speech)
gTTS

# Para reproducir el audio generado
pygame