<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Contraseña | AgronoMia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo36.css') }}">
</head>
<body>
    <div class="container">
        <h2>Crear Nueva Contraseña</h2>
        <img src="{{ url_for('static', filename='images/AgronoMia.png') }}" alt="Logo AgronoMia" class="logo-agronomia">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="hidden" name="token" value="{{ token }}">
            
            <div class="campo-form">
                <label for="password">Nueva Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Nueva Contraseña" required>
            </div>
            <div class="campo-form">
                <label for="confirm_password">Confirmar Contraseña</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Contraseña" required>
            </div>
            <button type="submit">Actualizar Contraseña</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/accesibilidad.js') }}"></script>
</body>
</html>